body {
    text-align: center;
    font-family: fantasy ;
    font-size: 25px;
    color: black;

}

h2 {
    margin: 0 auto;
    font-size: 35px;
    margin: 10px;
    font-family: fantasy ;
    color: lightseagreen;
    

}

.flex-container {
    /* In order to use flex-box we need to first set our display property */
    display: flex;
    /* center the container horizontally */
    justify-content: center;
    /* this will center content vertically */
    align-items: center;
    /* tells the container to align the children in columns rather than rows */
}

.flex-column {
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.flex-wrap {
    /* tells the container to drop down once it reaches max-width */
    flex-wrap: wrap;
    height: 432px;
    width: 432px;
}

.square {
    border: 2px solid lightseagreen;
    height: 140px;
    width: 140px;
    font-size: 100px;
}

#reset-button {
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    height: 55px;
    width: 100px;
    margin: 10px;
    font-family: fantasy ;

}

